* {
    box-sizing: border-box;
}

.mine {
    background: darkblue;
}

.safe {
    background: lightcyan;
}
.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    text-align: center;
    color: #d988b9;
    text-align: center;
}

table {
    padding: 1em;
    border-spacing: 5px 5px;
    background-color: #ffe4d6;
    text-align: center;
}

td {
    padding: 2em;
    text-align: center;
    cursor: pointer;
    background-color: #facbea;
    transition: background-color 0.2s;
}

td:hover {
    background-color: #d988b9;
}

table,
td {
    border: 0.1em grey solid;
    border-radius: 5%;
    text-align: center;
    justify-content: center;
}

.info-container {
    background-color: #ffe4d6;
    height: 5em;
    margin-bottom: 1em;
    border-radius: 5%;
    border: 1px grey solid;
    font-weight: bold;
    text-align: center;
}

.game-level-title {
    display: inline-block;
    padding-right: 1em;
}

button {
    padding: 1em;
    padding-inline: 1em;
    cursor: pointer;
    background-color: #facbea;
    border: 0.2em solid grey;
    border-radius: 10%;
}

button:hover {
    background-color: #d988b9;
}

.clicked {
    background-color: #b0578d;
    cursor: auto;
}

.clicked:hover {
    background-color: #b0578d;
}

.hidden {
    display: none;
}

.game-over-container {
    text-align: center;
    font-size: 1em;
}

table {
    display: flex;
    justify-content: center;
}

tbody {
    box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
}

.cell {
    width: 6em;
    height: 6em;
    text-align: center;
}

.cell img {
    width: 1em;
    height: auto;
}

.floor {
    background-color: #739072;
}

.wall {
    background-color: #ece3ce;
}

.hidden {
    display: none;
}

.info-container {
    text-align: center;
}

.play-again-container {
    text-align: center;
    font-size: 2em;
    margin-top: 4em;
}

.play-again-container button {
    background-color: #ece3ce;
    cursor: pointer;
    padding: 1em;
    padding-inline: 1em;
    border-radius: 1em;
    transition: 0.2s;

    box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
}

.play-again-container button:hover {
    background-color: #dcd3bf;
    font-size: 1em;
}
