* {
    box-sizing: border-box;
}

.game-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: 'Courier New', Courier, monospace;
    margin-top: 0;
    margin-bottom: 0;
}

h1 {
    margin: 0;
    font-size: 1.2em;
    text-align: center;
    color: #d988b9;
    text-align: center;
}

h2 {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #8e73dd;
    text-align: center;
    font-size: 0.7em;
}

table {
    padding: 0.2em;
    border-spacing: 0.2em 0.2em;
    text-align: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

td {
    padding: 0em;
    text-align: center;
    cursor: pointer;
    background-color: #facbea;
    transition: background-color 0.2s;
}

td:hover {
    background-color: #d988b9;
}

td {
    border: 0.1em grey solid;
    border-radius: 5%;
    text-align: center;
    justify-content: center;
}

.info-container {
    height: auto;
    margin-bottom: 0.1em;
    border-radius: 5%;
    font-weight: bold;
    text-align: center;
    margin-top: 0;
}

.game-level-title {
    display: inline-block;
    padding-right: 1em;
}

button {
    padding: 0.5em;
    padding-inline: 0.5em;
    cursor: pointer;
    background-color: #facbea;
    border: 0.2em solid grey;
    border-radius: 10%;
    margin-right: 1em;
    margin-left: 2em;
    min-width: 8em;
}

button:hover {
    background-color: #d988b9;
}

.clicked {
    background-color: #b0578d;
    cursor: auto;
}

.clicked:hover {
    background-color: #b0578d;
}

.hidden {
    display: none;
}

.game-over-container {
    text-align: center;
    font-size: 1em;
}

table {
    margin-bottom: 0;
    margin-top: 0;
    display: flex;
    justify-content: center;
}

tbody {
    box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
}

.cell {
    width: 1.5em;
    height: 1.5em;
    text-align: center;
}

.hidden {
    display: none;
}

.info-container {
    text-align: center;
}

.play-again-container {
    height: 2em;
    text-align: center;
    font-size: 1.5em;
    margin-top: 0em;
    color: red;
}

.play-again-container button {
    background-color: #ece3ce;
    cursor: pointer;
    padding: 0em;
    padding-inline: 0em;
    border-radius: 0em;
    transition: 0.2s;

    box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: -11px 8px 19px -5px rgba(0, 0, 0, 0.3);
}

.play-again-container button:hover {
    background-color: #dcd3bf;
}

.negCount {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;
    padding: 0;
    margin: 0;
    text-align: center;
}

.selected.safe {
    background: linear-gradient(to top, rgb(247, 246, 246), rgb(230, 179, 86));
    border: 0.1em rgb(196, 40, 40) solid;
}

.selected.mine {
    background: linear-gradient(to top, rgb(208, 118, 118), rgb(215, 20, 20));
    border: 0.1em rgb(196, 40, 40) solid;
}

.level-modal {
    background-color: rgb(156, 91, 200);
    color: #ece3ce;
    padding: 1ev;
    position: absolute;
    left: 0ev;
    top: 3ev;

    box-shadow: -2px 9px 21px -1px rgba(255, 173, 173, 0.75);
    -webkit-box-shadow: -2px 9px 21px -1px rgba(255, 173, 173, 0.75);
    -moz-box-shadow: -2px 9px 21px -1px rgba(255, 173, 173, 0.75);
}

.start-new-game {
    background: rgb(234, 237, 222);
    font-size: 0.7em;
    font-family: monospace;
    padding: 0.5em;
    margin: 0.2em;
    border: 0.05em grey solid;
}

p {
    display: inline-block;
    margin-right: 1.5em;
    margin-left: 1.5em;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-align: center;
    color: #8e73dd;
    text-align: center;
    font-size: 0.7em;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
}

.smiley {
    background: rgb(234, 237, 222);
    font-size: x-large;
    padding: 0;
    margin: 0;
}

body {
    padding: 25px;
    background-color: white;
    color: black;
    font-size: 25px;
}

.dark-mode {
    background-color: black;
    color: rgb(102, 83, 83);
}

.hint {
    width: 1.5em;
    margin: 0;
    padding: 0;
}
